. inicio {
    text-align:center;
}

img{
    width:85vw;
    height:600px;
    align-itens:center;
    
}

.teste section{
    align-items:center;
    align-text:center;
    display:flex;
    justify-content:space-between;
    
}

. separar {
    font-size:50px;
}

input {
    width:21vw;
    height:190px;
    font-size:10vw;
    border:10px solid black;
}

button {
    width:45vw;
    height:150px;
    font-size:3.2vw;
    border:10px solid black;
}


 .bd {
     position:relative;
 } 
 
 .bd2 {
     position:absolute;
     margin-left:-250px;
     margin-top:-75px;
     left:50%;
     top:50%;
 }
 
.calculo section {
     display:flex;
     justify-content:space-between;
     align-items:center;
     align-text:center;
     font-size:3.9vw;
 }
 
.calculo {
    border:3.5px solid black;
}

.etapa section {
    display:flex;
    justify-content:space-between;
    align-items:center;
    align-text:center;
    
}

.tex {
    font-size:8vw;
}

.text {
    font-size:5vw;
}

.final {
    font-size:2vw;
    border: 3px solid black;
}
    
