. inicio {
    text-align:center;
}

* {
    margin:1;
    padding:1;
}


.menu button {
    border:0px;
    background-color:#b2b2b2;
    font-size:12vw;
    width:7vw;
}


.link {
    display:none;
    z-index:2000;
    position:absolute;
    left:7px;
    padding:15px;
    
    
}

.link2 {
    display:none;
    z-index:1000;
    position:absolute;
    left:7px;
    padding:15px;
    
}

#link.active {
    display:block;
    justify-content:space-around;
    align-items:center;
    
}

#link2.active {
    display:flex;
    align-items:center;
    justify-content:space-around;
    width:43%;
    height:350px;
    
    
}


a {
    color:black;
    text-decoration:none;
    font-family:sans-serif;
    font-size:50px;
    letter-spacing:4px;
    margin-left:-30px;
    top:15px;
}


ul {
    list-style:none;
}

nav-list li {
    letter-spacing:50px;
    margin-left:50px;
    
}









img{
    width:85vw;
    height:600px;
    align-itens:center;
}
    


    


.teste section{
    align-items:center;
    align-text:center;
    display:flex;
    justify-content:space-between;
    
}

. separar {
    font-size:50px;
}

input {
    width:21vw;
    height:190px;
    font-size:10vw;
    border:10px solid black;
}

button {
    width:45vw;
    height:150px;
    font-size:3.2vw;
    border:10px solid black;
}


 .bd {
     position:relative;
 } 
 
 .bd2 {
     position:absolute;
     margin-left:-250px;
     margin-top:-75px;
     left:50%;
     top:50%;
 }
 
.calculo section {
     display:flex;
     justify-content:space-between;
     align-items:center;
     align-text:center;
     font-size:3.9vw;
 }
 
.calculo {
    border:3.5px solid black;
}

.etapa section {
    display:flex;
    justify-content:space-between;
    align-items:center;
    align-text:center;
    
}

.tex {
    font-size:8vw;
}

.text {
    font-size:5vw;
}

.final {
    font-size:2vw;
    border: 3px solid black;
}
    
